In [1]:
dict = {"key":'value','key2':123}

In [2]:
dict["key"]

'value'

In [3]:
dict["key2"]

123

In [4]:
dict = {'k1':[1,2,3]}

In [5]:
dict['k1']

[1, 2, 3]

In [6]:
dict = {'k1':{'innerKey':[1,2,3]}}

In [7]:
dict['k1']['innerKey'][1]

2

In [8]:
True

True

In [9]:
False

False

In [10]:
tuple = (1,2,3)

In [11]:
tuple[0]

1

In [12]:
# tuple[0] = "New" # This will throw an error
tuple[1] = "New"

TypeError: 'tuple' object does not support item assignment

In [13]:
my_set = {1,2,3,4,5,6,7,8,9,10,1,2,3}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
my_set.add(11)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [17]:
1 == 2

False

In [18]:
1 != 3

True

In [19]:
'hi' != 'bye'

True

In [20]:
1<2 and 2<3

True

In [21]:
1>2 and 2<3

False

In [22]:
if 1<2:
    print("Yep")

Yep

In [24]:
if True:
    print("Perform code")

Perform code

In [25]:
if 1==2:
    print("First")
elif 3==3:
    print("Middle")
else:
    print("Last")

Middle